<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<groups>
<run>
<include name="smoke"/>
</run>

</groups>
<listeners>
<listener class-name="org.framework.Utill.Listeners"/>
</listeners>

  <test thread-count="5" name="Test">
    <classes>
      <class name="org.framework.AppiumFrameworkDesign1.EcommerceTC1"/>
        <class name="org.framework.AppiumFrameworkDesign1.EcommerceTC4"/>
     
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
